.class1{ 

padding-right: 300px; 
padding-left: 200px;


} 
.class2{ 

    padding-right: 300px; 
    padding-left: 200px;
} 
.class3{ 
    padding-right: 300px; 
    padding-left: 200px;
} 
.class4{ 

    padding-left: 200px;
} 
.class6{

    padding-right: 300px; 
    padding-left: 200px;

} 

.class7{ 

    padding-right: 300px; 
    padding-left: 200px;
} 


.class8{ 
    padding-right: 300px; 
    padding-left: 200px;

} 

.class9{ 

    padding-left: 200px;
} 
.class65{


    padding-left: 400px;
}